.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image {
  height: 80vh;
  width: 80vw;
}

.image-gallery-slide .image-gallery-description {
  background: rgb(255, 255, 255);
  bottom: initial;
  color: #000;
  line-height: 2em;
  padding: 0px 200px;
  position: inherit;
  white-space: normal;
  font-size: 1.3rem;
}